<div class="input_module">
  <label for="{{name}}" class="login__label">{{caption}}</label>
  <input type="{{type}}" class="login__input input__{{name}}" name="{{name}}" minlength="{{minlength}}" placeholder="{{caption}}" pattern="{{pattern}}" >
  <small>{{attention}}</small>
</div>