<div class="input_module">
  <label for="{{name}}" class="profile__label">{{caption}}</label>
  <input type="{{type}}" class="profile__input_notactive input__{{name}}" name="{{name}}" minlength="{{minlength}}" placeholder="{{data}}" pattern="{{pattern}}" >
</div>
