<div class="input__module">
  <label for="{{name}}" class="input__label">{{caption}}</label>
  <input type="{{type}}" class="input__field" name="{{name}}" minlength="{{minlength}}" placeholder="{{caption}}" pattern="{{pattern}}" >
  <small class="input__attention">{{attention}}</small>
</div>
